*{
    margin:0;
    padding:0;
}

body{
    background:linear-gradient( orange , purple);
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px dotted darkblue;
    background-color: rgb(189, 10, 180);
    height: 600px;
    width: 550px;
    box-shadow: 10px 15px 51px black;
}

button{
    padding: 1px;
    width:100px;
    height:100px;
    border-radius: 50%;
    box-shadow: 5px 15px 10px black;
    transition: background-color 0.5s;
}

button:hover{
    background-color: #09f;
}

.Rock{
    background-color: red;
}

.Paper{
    background-color: blue;
}

.Scissors{
    background-color: lime;
}

.button{
    background-color: gold;
}

.button1{
    background-color: blueviolet;
}

.clear{
    border-radius: 0%;
    position: relative;
    top: -200px;
    right: 250px;
    background-color: crimson;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
}

.newgame{
    border-radius: 0%;
    position: relative;
    top: -200px;
    left: 250px;
    background-color: rgb(231, 85, 0);
    width:200px;
    font-family: 'Times New Roman', Times, serif;
}

.player{
    height: 100px;
    width: 150px;
    background-color: #dfd6d6;
    border-radius: 50%;
    position: relative;
  
    /* right: 520px; */
    font-family: fantasy;
    font-size: 30px;
}

.computer{
    height: 100px;
    width: 150px;
    background-color: #ebe1e1;
    border-radius: 50%;
    position: relative;
    /* left: 520px; */
    font-family: fantasy;
    font-size: 30px;
}

.option {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 200px;
    
}
.versus {
    position: relative;
    top: 1165px;
}

.rock{
   position: relative;
    right:620px;
}

.paper{
    position: relative;
    right:544px;
}

.scissors{
    position: relative;
    
}


.score{
  /* left: 430px; */
  position: relative;
  top: 250px;
  font-family:sans-serif;
  font-weight:bolder;
  font-size: x-large;
}
.score1{
    left: -100px;
    position: relative;
    top: 253px;
    font-family:sans-serif;
    font-weight:bolder;
    font-size: x-large;
  }
  .score2{
    left: 150px;
    position: relative;
    top: 223px;
    font-family:sans-serif;
    font-weight:bolder;
    font-size: x-large;
  }
  
  .Main {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, purple 50%, rgb(155, 100, 19) 50%);
    bottom:0;
    left:-80%;
    opacity:.1;
    position:fixed;
    right:-80%;
    top:0;
    z-index:-1;
  }
  
  .Second {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .Third {
    animation-duration:5s;
  }
    
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }