*{
    margin:0;
    padding:0;
}

body{
    background-color: deepskyblue;
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px dotted darkblue;
    background-color: rgb(189, 10, 180);
    height: 600px;
    width: 550px;
    box-shadow: 10px 15px 51px black;
}

button{
    padding: 1px;
    width:100px;
    height:100px;
    border-radius: 50%;
    box-shadow: 5px 15px 10px black;
}

.Rock{
    background-color: red;
}

.Paper{
    background-color: blue;
}

.Scissors{
    background-color: lime;
}

.button{
    background-color: gold;
}

.button1{
    background-color: blueviolet;
}

.clear{
    border-radius: 0%;
    position: absolute;
    top: 600px;
    right: 250px;
    background-color: crimson;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
}

.newgame{
    border-radius: 0%;
    position: absolute;
    top: 600px;
    left: 250px;
    background-color: rgb(231, 85, 0);
    width:200px;
    font-family: 'Times New Roman', Times, serif;
}

.player{
    height: 100px;
    width: 150px;
    background-color: #dfd6d6;
    border-radius: 50%;
    position: absolute;
    top: 170px;
    right: 520px;
    font-family: fantasy;
    font-size: 30px;
}

.computer{
    height: 100px;
    width: 150px;
    background-color: #ebe1e1;
    border-radius: 50%;
    position: absolute;
    top: 170px;
    left: 520px;
    font-family: fantasy;
    font-size: 30px;
}
.versus {
    position: absolute;
    top: 175px;
}

.rock{
   position: absolute;
    right:620px;
}

.paper{
    position: absolute;
    right:544px;
}

.scissors{
    position: absolute;
    
}

.pencil{
    position: absolute;
    left:550px;
}

.water{
    position: absolute;
    left:638px;
}
.score{
  left: 810px;
}